/* Extra small devices (phones, less than 576px) */
/* No media query since this is the default in Bootstrap. If passed these px, it is in that category.*/

/* padding: top, right, bottom, left */

html {
    position: relative;
    min-height: 100%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html{
        background-color: whitesmoke;
    }
    header{
        padding: 20px 10px 20px 27px;
        background-color: whitesmoke;
        position: absolute;
        top: 0;
        width: 100%;
        overflow:hidden;
    }


    h1, h2 {
        font-size: 50px;
        font-weight: 400;
    }

    p{
        color: #555;
        font-weight: 300;
        font: normal 100% Roboto, sans-serif;
    }


    .headShot{
        padding: 140px 20px 20px 30px;
        background-color: whitesmoke;
    }

    .links{
        text-align: center;

    }

    .btn{
        font-size: 90px;
    }
    .medias{
        text-align: center;
        background-color: whitesmoke;

    }



    footer{
        position: absolute;
        bottom:0;
        width: 100%;
        overflow: hidden;
        text-align: center;
        font-size: 30px;

    }

    .about{
        text-align: center;
        font-size: 54px;
        padding: 30px;
        line-height: 1;
        background-color: whitesmoke;

    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    html{
        background-color: green;
    }

}
